torch/
__pycache__/*
annotator/__pycache__/*
*.pyc
ldm/models/diffusion/__pycache__/*
ldm/modules/diffusionmodules/__pycache__/*
ldm/modules/distributions/__pycache__/*
ldm/modules/encoders/__pycache__/*
control_augmented_images/
MidAir/
cifar10_upscaled/
control_augmented_images_caltech256_512/
control_augmented_images_sun397_224/
control_augmented_images_sun397_512/
control_augmented_images_caltech256_512fewshot/
control_depth_variations.zip
control_depth_variations/
models/
models
wandb/
output/
caltech256_512fewshot_bad.zip
control_augmented_images_cifar100_512/
hfds/
archive.zip
cifar100-128/
cifar100-32/
cifar100-512/
cifar100-64/
control_augmented_images_sun397_512fewshot/
